*{
    padding:0;
    margin:0;
}

#autoScroll{
    overflow-y: scroll;
}

#autoScroll::-webkit-scrollbar{
    width: 0.5em; /* Adjust as needed */
    display: none; /* Hide the scrollbar */
}

.section_1, .section_3{
    height: 100vh;
}

.section_1{
    background-color: rgb(56, 112, 54);
}
.hero-welcome{
    font-family: Gill Sans, sans-serif;
    font-size: 5em;
    text-align: center;
    color: rgb(233, 194, 65);
}

.section_2{
	height: 105vh;
    background-color: rgba(38, 40, 65, 1);
	position: relative;
}








.title h1 {
width:100%;
position: absolute;
padding: 15px 0;
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(38,40,65,1) 100%);
font-size: 2rem;
margin:0;
text-align: center;
color: #C5DFF8;
font-family: sans-serif; 
}
.title2 h1 {
width:100%;
position: absolute;
padding: 15px 0;
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(8,0,66,1) 100%);
font-size: 2rem;
margin:0;
text-align: center;
color: #C5DFF8;
font-family: sans-serif; 
}
.title3 h1 {
width:100%;
position: absolute;
padding: 15px 0;
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(13,2,24,1) 100%);
font-size: 2rem;
margin:0;
text-align: center;
color: #C5DFF8;
font-family: sans-serif; 
}




.container {
  margin-top:90px;
	position: absolute;
	background-color: rgba(38, 40, 65, 0);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
  }
  

  .row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
  }

  .col{
	display: block;
  }
  .col-rig{
	display: block;
  text-align: right;
  }
  
  .card {
  	transition: opacity 1s ease, transform 1s ease;
    max-height: 350px;
	display: flex;
	align-items: center;
	width: 650px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 10px;
	background-color: rgba(	70,123,232, 0);
	box-shadow: 0 8px 12px rgba(	0,128,255, 0.75);
  }

  .card2 {
    transition: opacity 1s ease, transform 1s ease;
    max-height: 350px;
	display: flex;
	align-items: center;
	width: 650px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 10px;
	background-color: rgba(	70,123,232, 0);
	box-shadow: 0 8px 12px rgba(	255,165,0, 0.75);
  }

  .card3 {
    transition: opacity 1s ease, transform 1s ease;
    max-height: 350px;
	display: flex;
	align-items: center;
	width: 650px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 10px;
	background-color: rgba(	70,123,232, 0);
	box-shadow: 0 8px 12px rgba(	0, 254, 252, 0.75);
  }

  .card2 img {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 300px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 20px;
    }
    
    .card2 h3 {
    font-size: 35px;
    display: block;
    color: white;
    font-family: 'Mukta Vaani', sans-serif;
    letter-spacing: 1px;
    }
    
    .card2 p {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(239,104,99);
    }

  .card3 img {
    height: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 300px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 20px;
    }
    
    .card3 h3 {
    font-size: 35px;
    display: block;
    color: white;
    font-family: 'Mukta Vaani', sans-serif;
    letter-spacing: 1px;
    }
    
    .card3 p {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(239,104,99);
    }

  .hutan img{
    bottom: 0;
    width:100%;
    z-index:0;
    position: absolute;

  }

  .card img {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 300px;
	max-height: 100%;
	object-fit: cover;
	border-radius: 5px;
	margin: 0px 20px;
  }
  
  .card h3 {
	font-size: 35px;
	display: block;
	color: white;
	font-family: 'Mukta Vaani', sans-serif;
	letter-spacing: 1px;
  }
  
  .card p {
  font-weight: bold;
	margin: 0;
	font-size: 20px;
  letter-spacing: 1px;
	color: rgb(239,104,99);
  }

    .rumah img{
      width:100%;
      z-index:0;
      padding-top:20px;
      position: relative;
    }


.snow-container{
  position:relative;
  height:1px;
  background-color:black;
}

.snow {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  animation: falling 8s ease-in-out infinite;
}

@keyframes falling {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(2500%);
  }
}

.snow:nth-child(1) {
  left: 5%;
  top: -5%;
  animation-delay: 0.5s;
}

.snow:nth-child(2) {
  left: 25%;
  top: -10%;
  animation-delay: 2s;
}

.snow:nth-child(3) {
  left: 45%;
  top: -15%;
  animation-delay: 3.5s;
}

.snow:nth-child(4) {
  left: 65%;
  top: -20%;
  animation-delay: 1s;
}

.snow:nth-child(5) {
  left: 85%;
  top: -25%;
  animation-delay: 2.5s;
}

.snow:nth-child(6) {
  left: 95%;
  top: -15%;
  animation-delay: 2.5s;
}

.snow:nth-child(7) {
  left: 55%;
  top: -15%;
  animation-delay: 1.5s;
}

.snow:nth-child(8) {
  left: 20%;
  top: -15%;
  animation-delay: 1s;
}



  @keyframes fade-in-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h6 {
    color: #ffffff;
  }
